doctype html
html
    head
        title Acquisitions Incorporated
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
    header
        .main-header
            h1 Acquisitions Incorporated
            p
                | We are ready to help 
                strong YOU!
        nav
            ul
                li
                    a(href='#', data-toggle='modal', data-target='#myModal') Contact Us
                li
                    a(href='shop.html', target='_blank') Our Shop
                li
                    a(href='testimonials.html', target='_blank') Testimonials
    body
        block content

    footer
        | © Acquisitions Incorporated 538 of the Second Age
//doctype html
//html
//// The is the head
//meta(charset='utf-8')
//    title Acquisitions Incorporated
//    meta(name='viewport', content='width=device-width, initial-scale=1.0')
//    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
//    link(rel='stylesheet', href='/stylesheets/style.css')
//    link(rel='stylesheet', href='/stylesheets/normalize.css')
//
//    header
//        .main-header
//            h1 Acquisitions Incorporated
//            p
//                | We are ready to help 
//                strong YOU!
        nav
            ul
                li
                    a(href='#', data-toggle='modal', data-target='#myModal') Contact Us
                li
                    a(href='shop.html', target='_blank') Our Shop
                li
                    a(href='testimonials.html', target='_blank') Testimonials
//    body