extends layout

block content
    header
        .main-header
            h1 Acquisitions Incorporated
            p
                | We are ready to help 
                strong YOU!
        nav
            ul
                li
                    a(href='contact-us', data-toggle='modal', data-target='#myModal') Contact Us
                li
                    a(href='/') Home
                li
                    a(href='/shop') Our Shop
                li
                    a(href='/testimonials') Testimonials
    body
        .shop
            h2 Shopping Cart
            p Please review you cart before purchasing.
        #cartInventory
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(src='/javascripts/shopping-cart.js')