extends layout

block content
    .shop
        h1 Site Still Under Construction
        p
            | Please stop by the shop to see what we have in stock. The Artificer is still working out the kinks.
