extends layout

block content
    header
        .main-header
            h1 Acquisitions Incorporated
            p
                | We are ready to help 
                strong YOU!
        nav
            ul
                li
                    a(href='contact-us', data-toggle='modal', data-target='#myModal') Contact Us
                li
                    a(href='/') Home
                li
                    a(href='/testimonials') Testimonials
    body
        .shop
            h1 Shop Inventory
            p
                | Please stop by the shop to see what we have in stock. The Artificer is still working out the kinks.
            #shopInventory
    //script(src='/javascripts/shop-api.js')