extends layout

block content
    .testimonial
        h2 Testimonials from Previous Clients
    div
        button.myButton(data-toggle='modal', data-target='#myButton') Click to Add Testimonial
    .OpinionAside
    h3.asideHeader3 We are always out to improve our services
        p
            | Please feel free to post your opinion of how we did on our job for you. We are always glad to hear feedback.
    main.main-testimonials
        #myTest.list-group